<div class="recruiter-candidate-container">
  <div>
    <div class="container-header">
      <p class="container-title">Candidates</p>
      <app-button class="refresh-button" buttonClass="button" (onClick)="refreshCandidates()">Refresh</app-button>
    </div>
    <div class="candidate" *ngFor="let candidate of candidates$ | async">
      <div class="candidate-header">
        <div class="text initials">{{candidate.firstName}}</div>
        <div class="text initials">{{candidate.lastName}}</div>
      </div>
      <div class="text">Phone {{candidate.phoneNumber}}</div>
      <div class="text">Location: {{candidate.location}}</div>
      <div class="text">Bio: {{candidate.biography}}</div>
      <div class="text">Resume: {{candidate.resume}}</div>
      <div class="text">Skills:</div>
      <div class="candidate-skills">
        <div class="skill" *ngFor="let skill of candidate.skills">
          {{ skill.name }}
        </div>
      </div>
    </div>
  </div>
  <div class="search-container">
    <div class="search-item">
      <ul class="skills">
        <li class="skill" *ngFor="let skill of skills">
          {{ skill }}
        </li>
      </ul>
      <app-input inputClass="input" placeholder="Search By Skills" [(value)]="skill"></app-input>
      <app-button buttonClass="button" (onClick)="searchBySkills()">Search</app-button>
      <app-button buttonClass="button" (onClick)="addSkill()">Add Skill</app-button>
    </div>
    <div class="search-item">
      <ul class="skills">
        <li class="skill" *ngFor="let bio of bios">
          {{ bio }}
        </li>
      </ul>
      <app-input inputClass="input" placeholder="Search By Bio" [(value)]="bio"></app-input>
      <app-button buttonClass="button" (onClick)="searchByBio()">Search</app-button>
      <app-button buttonClass="button" (onClick)="addBio()">Add Bio</app-button>
    </div>
    <div class="search-item">
      <ul class="skills">
        <li class="skill" *ngFor="let resume of resumes">
          {{ resume }}
        </li>
      </ul>
      <app-input inputClass="input" placeholder="Search By Resume" [(value)]="resume"></app-input>
      <app-button buttonClass="button" (onClick)="searchByResume()">Search</app-button>
      <app-button buttonClass="button" (onClick)="addResume()">Add Resume</app-button>
    </div>
  </div>
</div>

