.recruiter-candidate-container {
  display: flex;
}

.container-title {
  color: honeydew;
  font-size: x-large;
  margin-left: 1rem;
}


.candidate {
  background-color: #202531;
  width: 40rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

.candidate-header {
  display: flex;
  flex-direction: row;
}

.container-header {
  display: flex;
}

.refresh-button {
  margin-top: 1rem;
  margin-left: 1rem;
}

.text {
  color: honeydew;
  margin-bottom: 1rem;
}

.initials {
  margin-right: 1rem;
}

.candidate-skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  margin-right: 1rem;
  color: honeydew;
  background-color: #141722;
  padding: 0.3rem 0.5rem;
}

.search-container {
  margin-top: 5rem;
  margin-left: 5rem;
}

.search-item {
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 2rem;
  border: 0.2rem solid #202531;
  border-radius: 1rem;
}
