<div class="sign-in">
  <div class="sign-in-container">
    <h1 class="main-title">Sign In</h1>
    <form [formGroup]="authFormInfo" class="auth-form-info">
      <div class="contect-data">
        <mat-form-field class="auth-form-input" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email"/>
        </mat-form-field>
        <mat-form-field class="auth-form-input" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="text" formControlName="password"/>
        </mat-form-field>
      </div>
      <div class="first-button-wrapper">
        <button class="main-button" mat-button>Continue</button>
      </div>
    </form>
  </div>
</div>
