.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-container {
  margin-top: 0.5rem;
}

.main-title {
  display: flex;
  justify-content: center;
  color: #F8C64D;
  margin-top: 1rem;
}

.auth-form-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.auth-form-input {
  display: flex;
}

.first-button-wrapper {
  display: flex;
  justify-content: center;
}

.main-button {
  border: 0.1rem solid #F8C64D;
  border-radius: 1.5rem;
}
