<div class="main-container">
  <div class="title">
    <div class="text">Candidate Profile Setting</div>
  </div>
  <div class="header-container">
    <app-input inputClass="input" placeholder="FirstName" [(value)]="firstName"></app-input>
    <app-input inputClass="input" placeholder="LastName" [(value)]="lastName"></app-input>
    <app-input inputClass="input" placeholder="PhoneNumber" [(value)]="phoneNumber"></app-input>
    <app-input inputClass="input" placeholder="Location" [(value)]="location"></app-input>
    <textarea class="biography" placeholder="Biography" [(ngModel)]="biography"></textarea>
    <textarea class="biography" placeholder="Resume" [(ngModel)]="resume"></textarea>
  </div>
  <div class="footer-container">
    <app-button buttonClass="button" (onClick)="handleClick()">Submit</app-button>
  </div>
</div>
