.vacancy-modal {
  position: fixed;
  background: #000000bf;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container {
  background-color: #141722;
  width: 50%;
  margin: 15rem auto;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
}

.modal-body {
  margin-bottom: 2rem;
}

.text {
  color: honeydew;
  margin-bottom: 1.5rem;
  font-size: x-large;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}
