<div class="header">
  <div class="header-container">
    <ul class="info">
      <li (click)="onItemClick('recruiter-home')" class="item">Home</li>
      <li (click)="onItemClick('recruiter-candidates')" class="item">Candidates</li>
      <li (click)="onItemClick('recruiter-vacancies')" class="item">Vacancies</li>
      <li (click)="onItemClick('recruiter-all-vacancies')" class="item">All Vacancies</li>
      <li (click)="onItemClick('recruiter-statistics')" class="item">Statistics</li>
    </ul>
    <div class="profile">
      <p class="profile-item">{{firstName}} {{lastName}}</p>
    </div>
  </div>
</div>
