/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #141722;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin;
}

/* Track */
::-webkit-scrollbar-track {
  background:  transparent;
}

::-webkit-scrollbar-button:start,
::-webkit-scrollbar-button:end {
  height: 1vh;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border: 0.1rem solid #1A1E2B;
  border-radius: 1.2rem;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
